# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# linked hugo.yaml
/hugo.yaml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#tmp files and folders
public
kodata
megalinter-reports
tmp-*
tmp/*
!*/readme.md
libxml*
__debug_*

# Mac cruft
.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
