{{ `<!-- fohuw/partials/tool/image.html -->` | safeHTML }}
{{ $color := "purple"}}
{{- $p := "tool/image" -}}
{{- $err := printf "is nil for %s" .src -}}
{{- if not .src -}}{{- partial "tool/dbg-err" (dict "p" $p "a" ".src" "m" $err ) -}}{{- end -}}
{{- if not .alt -}}{{- partial "tool/dbg-err" (dict "p" $p "a" ".alt" "m" $err ) -}}{{- end -}}
{{- if .link -}}<a href="{{.link}}">{{- end -}}
<img class="{{.srcClass}}" src="{{.src}}" {{with .alt }}alt="{{.}}"{{end}} />
{{- partial "tool/caption" . -}}
{{- if .link -}}</a>{{- end -}}