{{ `<!-- pihuw partials/tmpl/footer -->` | safeHTML }}
{{/* The footer is already a row in the overall page grid ----------------- */}}
{{ $links := site.Params.ui.footer.links }}
{{ $color := site.Params.ui.footer.backgroundColor }}
{{ $textClass := "text-white" }}
<div class="left">
  {{template "footer-pihuw-title-column" .}}
</div>
<div class="middle">
  {{range site.Params.ui.footer.links}}
  {{template "footer-pihuw-label" .}}
  {{end}}
</div>
<div class="right">
  {{ partial "tmpl/footer-github-links" . }}
</div>

{{ define "footer-pihuw-title-column" -}}
{{if or site.Params.ui.footer.showSiteTitle site.Params.ui.footer.showSiteVersion}}
  {{$title := ""}}
  {{if site.Params.ui.footer.showSiteTitle}}{{$title = site.Title}}{{end}}
  {{if site.Params.ui.footer.showSiteVersion}}
  {{$v := (partial "tmpl/get-version-data" .)}}
  {{ $title = printf "%s v%s" $title $v.version}}
  {{end}}
  {{$title}}
{{end}}
{{end}}

{{ define "footer-pihuw-label" -}}
{{$target := ""}}
{{if hasPrefix .link "http"}}{{$target = " target=\"_blank\""}}{{end}}
<div class="label">
  {{ with .label -}}{{.}}{{end}}
  {{ if .title -}}
  {{with .link}}<a href="{{relURL .}}" {{$target|safeHTMLAttr}}>{{end}}
    {{.title}}
    {{with .link}}</a>{{end}}
  {{end}}
</div>
{{end}}