{{ `<!-- pihuw/partials/tmpl/navbar-brand -->` | safeHTML }}
{{/* to support SVG files, all logos must be in static/brands */}}
{{- if not (and site.Params.ui.hide.navbar.logo site.Params.ui.hide.navbar.title) }}

{{- $logoTypes := slice ".svg" ".jpg" ".gif" ".png" }}
{{- $searchingForLogo := true}}
{{- $logo := ""}}
{{- $img := ""}}
{{- range $k, $v := $logoTypes}}
{{- $imgPath := printf "logo%s" $v}}
{{- if $searchingForLogo}}
{{- if fileExists  (printf "static/logo%s" $v) }}
  <a href="{{ site.Home.RelPermalink }}" style="position: relative;height:2em;">
    {{- if not site.Params.ui.hide.navbar.logo }}
    {{ printf "<img src=\"%s\" alt=\"logo\" class=\"brand\">" (relURL (printf "/logo%s" $v)) | safeHTML}}
    {{end}}
    {{- if not site.Params.ui.hide.navbar.title}}<span id="siteTitleMenu">{{site.Title}}</span>{{end}}
  </a>
{{$searchingForLogo = false}}
{{ end }}{{ end }}{{/* searching */}}
{{end}}{{/* end of range - file types */}}
{{- end -}}