{{ `<!-- fohuw/partials/page-meta-links.html -->` | safeHTML }}
{{ if .File }}
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $gh_repo := ($.Param "github_repo") -}}
{{ $gh_url := ($.Param "github_url") -}}
{{ $gh_subdir := ($.Param "github_subdir") -}}
{{ $gh_project_repo := ($.Param "github_project_repo") -}}
{{ $gh_branch := (default "main" ($.Param "github_branch")) -}}
<div class="ui small gray basic labels" style="display:inline;">
  {{ if $gh_repo -}}
  {{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}
  {{ if and ($gh_subdir) (.Site.Language.Lang) -}}
  {{ $gh_repo_path = printf "%s/%s/content/%s/%s" $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted -}}
  {{ else if .Site.Language.Lang -}}
  {{ $gh_repo_path = printf "%s/content/%s/%s" $gh_branch ($.Site.Language.Lang) $pathFormatted -}}
  {{ else if $gh_subdir -}}
  {{ $gh_repo_path = printf "%s/%s/content/%s" $gh_branch $gh_subdir $pathFormatted -}}
  {{ end -}}

  {{/* Adjust $gh_repo_path based on path_base_for_github_subdir */ -}}
  {{ $ghs_base := $.Param "path_base_for_github_subdir" -}}
  {{ $ghs_rename := "" -}}
  {{ if reflect.IsMap $ghs_base -}}
  {{ $ghs_rename = $ghs_base.to -}}
  {{ $ghs_base = $ghs_base.from -}}
  {{ end -}}
  {{ with $ghs_base -}}
  {{ $gh_repo_path = replaceRE . $ghs_rename $gh_repo_path -}}
  {{ end -}}

  {{ $viewURL := printf "%s/tree/%s" $gh_repo $gh_repo_path -}}
  {{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path -}}
  {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (safeURL $.Title ) -}}
  {{ $newPageStub := resources.Get "stubs/new-page-template.md" -}}
  {{ $newPageQS := querify "value" $newPageStub.Content "filename" "change-me.md" | safeURL -}}
  {{ $newPageURL := printf "%s/new/%s?%s" $gh_repo $gh_repo_path $newPageQS -}}

  <div class="ui label">
    <span class="ui info text">
      <a href="{{ $viewURL }}" target="_blank" rel="noopener">{{ T "post_view_this" }}</a>
    </span>
  </div>
  {{/* $editURL & $newPageURL not handled */}}
  <div class="ui label">
    <span class="ui info text">
      <a href="{{ $issuesURL }}" target="_blank" rel="noopener">{{ T "post_create_issue" }}</a>
    </span>
  </div>
  {{ with $gh_project_repo -}}
  {{ $project_issueURL := printf "%s/issues/new" . -}}
  <div class="ui label">
    <span class="ui info text">
      <a href="{{ $project_issueURL }}" target="_blank" rel="noopener">{{ T "post_create_project_issue" }}</a>
    </span>
  </div>
  {{ end -}}

  {{ end -}}
  {{ with .CurrentSection.AlternativeOutputFormats.Get "print" -}}

  <div class="ui label">
    <span class="ui info text"><a href="{{ .Permalink | safeURL }}">{{ T "print_entire_section"}}</a></span>
  </div>
  {{ end }}
</div>
{{ end -}}