{{ `<!-- fohuw/partials/tmpl/section-index.html -->` | safeHTML }}
<div class="section-index">

  <hr class="panel-line">
  <h4>Pages in this section</h4>
  {{ $parent := .Page }}
  {{ $pages := (where site.Pages "Section" .Section).ByWeight }}
  {{ $pages = (where $pages "Type" "!=" "search") }}
  {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
  {{ $pages = (where $pages ".Parent" "!=" nil) }}
  {{/* $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) */}}
  {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
  {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
  {{ else if $parent.Params.simple_list }}
  {{/* If simple_list is true we show a bulleted list of subpages */}}
  <ul>
    {{ range $pages }}
    {{ $manualLink := .RelPermalink}}
    {{if .Params.manuallink}}{{ $manualLink = .Params.manualLink}}{{end}}
    {{if .Params.manuallinkrelref}}{{ $manualLink = relref . .Params.manuallinkrelref}}{{end}}
    <li><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
        .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}>{{- .Title
        -}}</a></li>
    {{ end }}
  </ul>
  {{ else }}
  {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
  <div class="ui list">
    {{ range $pages }}
    {{ $manualLink := .RelPermalink}}
    {{if .Params.manuallink}}{{ $manualLink = .Params.manualLink}}{{end}}
    {{if .Params.manuallinkrelref}}{{ $manualLink = relref . .Params.manuallinkrelref}}{{end}}

    <div class="item">
      <i class="file alternate outline icon"></i>
      <div class="content">
        <div class="header"><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{
            with .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}>
            {{- .Title -}}
          </a>
        </div>
        <div class="description">{{ .Description | markdownify }}</div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>