{{partial "tmpl/dbg-template-comment" .}}{{/*
  ---* The main dispatcher for pi- partials.
  ----   R= required
  
  ---* .blockClass Outer container = default "", e.g. "my-segment"
  */}}
{{$id := .id}}
{{if false}}{{partial "tool/dbg-dump-dot" .}}{{end}}
{{- $block := "tool/help" -}}
{{- with .t }}{{ $block = printf "tool/%s" . }}{{ end -}}
{{- if or .id .blockClass }}<div class="{{.blockClass}}" {{if .id}}id="{{.id}}"{{end}}>{{end -}}
{{partial $block .}}
{{- if or .id .blockClass }}</div>{{end -}}

