{{partial "tmpl/dbg-template-comment" .}}
{{/* to support SVG files, all logos must be in static/brands */}}
{{- if not (and site.Params.ui.hide.navbar.logo site.Params.ui.hide.navbar.title) }}

{{- $logoTypes := slice ".svg" ".jpg" ".gif" ".png" }}
{{- $searchingForLogo := true}}
{{- $logo := ""}}
{{- $img := ""}}
{{- range $k, $v := $logoTypes}}
{{- $imgPath := printf "logo%s" $v}}
{{- if $searchingForLogo}}
{{- if fileExists (printf "static/logo%s" $v) }}
<div class="pi-nav-brand">
  {{- if not site.Params.ui.hide.navbar.logo }}
  <div class="logo">
    <a href="{{ site.Home.RelPermalink }}">
      {{ printf "<img src=\"%s\" alt=\"logo\">" (printf "/logo%s" $v) | safeHTML}}
    </a>
  </div>
  {{end}}
  {{- if not site.Params.ui.hide.navbar.title}}
  <div class="title">
    <a href="{{ site.Home.RelPermalink }}">
      <span id="siteTitleMenu">{{site.Title}}</span>{{end}}
    </a>
  </div>
  {{ end }}{{/* title */}}
</div>
{{$searchingForLogo = false}}
{{ end }}{{/* searching */}}
{{end}}{{/* end of range - file types */}}
{{- end -}}