<div class="flex four" style="font-size: 0.7em;text-align:center;">
    <div class="none fourth-{{site.Params.resp.m}}"></div>
    <div class="full half-{{site.Params.resp.m}}">
        <button class="pseudo">Copyright © {{ now.Year }}. All rights reserved.</button>
        <button class="pseudo"><a href="{{ " home" | relURL }}">Home</a></button>
        <button class="pseudo"><a href="{{ " about" | relURL }}">About</a></button>
        <button class="pseudo"><a href="{{ " contact" | relURL }}">Contact</a></button>
    </div>
    <div class="none fourth-{{site.Params.resp.m}}"></div>
</div>