{{partial "tmpl/dbg-template-comment" .}}
{{/*
.srcWidth is ignored
.src
.srcOn "left"
+--srcGrid-+----txtGrid------------------------------------------+
| -------- | -----.header--------------------------------------- |
| -------- | -----.meta----------------------------------------- |
| -------- | -----.description----.inner------------------------ |
+----------+-----------------------------------------------------+
.srcOn "right"
+-----------------------------------------txtGrid-----+-srcGrid--+
| -----.header--------------------------------------- | -------- |
| -----.meta----------------------------------------- | -------- |
| -----.description----.inner------------------------ | -------- |
+-----------------------------------------------------+----------+

*/}}
{{- $DBG := false -}}
{{with $DBG}}<p>
  <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,255,180);">start tool/block
</p>{{end}}
{{/* ---handle src type--------------------------------------------------- */}}
{{- $ext := strings.ToLower (path.Ext .src) -}}
{{- $imgExt := slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".svg" -}}
{{- $vidExt := slice ".mp4" ".mkv" -}}
{{- $srcClass := printf "src block %s" .srcClass -}}
{{- $srcIsVideo := in $vidExt $ext -}}
{{- $srcIsImage := in $imgExt $ext -}}
{{- $srcGrid := .srcGrid | default "fifth" }}
{{- $txtGrid := .txtGrid | default "four-fifth" }}
{{- $mediaDot := merge . (dict "srcClass" $srcClass) }}
{{/* --------------------------------------------------------------------- */}}
{{if $DBG}}Source ({{.src}}) is on {{.srcOn}} @ srcGrid({{$srcGrid}}):txtGrid({{$txtGrid}}){{end}}
{{- if and .src (eq .srcOn "left") -}}
<div class="{{$srcGrid}}">{{ partial "tool/media" $mediaDot }}</div>
{{- end -}}
<div class="{{$txtGrid}} txt block">
  <div class="card">
    {{- if .header -}}
    <header>
      {{if .headerLink}}<a href="{{.headerLink}}">{{.header}}</a>
      {{else}}{{ .header }}{{end}}
    </header>{{- end -}}
    {{- with .meta -}}
    <div class="meta"><span class="category">{{ . }}</span></div>
    {{- end -}}
    <div class="description">
      {{- .description | markdownify -}}
      {{- .inner | markdownify -}}
    </div>
  </div>
</div>
{{ if and .src (eq .srcOn "right") }}
<div class="{{$srcGrid}}">{{ partial "tool/media" $mediaDot }}</div>
{{end}}
{{with $DBG}}<p>END pihuw-block
  <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(255,90,180);">
</p>{{end}}