{{partial "tk/dbg-template" .}}{{/*
   partial to create a latest blog block. Wordcount assumes 220 w/min */}}
{{- $count     := 1 -}}{{- if and . (isset . "count") -}}{{- $count = .count -}}{{- end -}}
{{- $skip      := 0 -}}{{- if and . (isset . "skip")  -}}{{- $skip  = index . "skip" -}}{{- end -}}
{{- $blogCount := add $count $skip -}}
{{- $dot       := . -}}
{{/* --- find latest blog ------------------------------------------------ */}}
{{ range first $blogCount ( where .page.Site.Pages "Type" "blog" ) | last $count }}
  {{- $srcLink     := .RelPermalink -}}
  {{- $description := .Plain | safeHTML | truncate 300 -}}
  {{- $min         := add (div (countwords $description) 220) 1 -}}
  {{- $img         := partial "tk/resource-image-featured" (dict "page" .) -}}
  {{- $d           := merge $dot (dict "src" "" "header" .LinkTitle "date" .Date "description" $description "meta" (printf "~%v min read" $min)) -}}
  {{- if $img -}}
    {{- $d = merge $d (dict "src" $img.src  "srcLink" $srcLink "headerLink" $srcLink "srcWidth" 0.25) -}}
  {{- end -}}
  {{ partial "tool/block" $d }}
{{ end }}{{/* end of range*/}}