{{partial "tk/dbg-template" .}}{{/*
  Renders an <img> tag from any image asset path.
  Uses tk/get-asset for resource resolution and type detection.
*/}}
{{- $img      := partial "tk/get-asset" (dict "asset" .src "page" .page "process" .process "alt" (.alt | default .text)) -}}
{{- $srcClass := .srcClass | default "" -}}
{{- $link     := .srcLink -}}

{{- if not .src -}}{{- partial "tool/dbg" (dict "wrn" "tool/image: .src is empty" "kv" (dict "page" .page)) -}}{{- end -}}

{{- $u := urls.Parse $link -}}
{{- if and $link (not $u.IsAbs) -}}
  {{- $aFile := fileExists $u.Path -}}
  {{- $aBlog := strings.HasPrefix .srcLink "/blog/" -}}
  {{- $aPage := site.GetPage .srcLink -}}
  {{- if and (not $aFile) (not $aBlog) (not $aPage) -}}
    {{- partial "tool/dbg" (dict "wrn" (printf "bad srcLink(%s) for image" $link) "kv" (dict "link" .srcLink "page" .page)) -}}
  {{- end -}}
{{- end -}}

{{- if $link -}}<a href="{{$link}}">{{- end -}}
<img class="{{$srcClass}}" src="{{$img.src}}" alt="{{$img.alt}}" />
  {{/* forcing width and height is best done with pure css. You
  can't make it work for feature, item, blog and covers simultaneously
    {{- with $img.width}} width="{{.}}"{{end -}}
  {{- with $img.height}} height="{{.}}"{{end}}   */}}
{{- partial "tool/caption" . -}}
{{- if $link -}}</a>{{- end -}}
