{{partial "hw-tk/dbg-template" .}}{{/*
   Include another page as a block File path is relative to content/ */}}
{{- $f := .from -}}
{{ if $f}}
  {{- if fileExists $f -}}

    {{/* --- trim front matter and spew out the rest of the included file --- */}}
    {{ $content := "" }}
    {{/* check the page for a Params.IncludeSummary substitution */}}
    {{ $p := site.GetPage $f }}
    {{ if $p.Page.Params.IncludeSummary }}
      {{ $content = $p.Page.Params.IncludeSummary | markdownify }}
    {{end -}}{{/* end of GetPage */}}
    
    {{ if not $content }}
      {{ if eq ".md" (path.Ext $f) }}
        {{ $content = (printf "%s" $f) | readFile | replaceRE "^---[\\s\\S]+?---" "" | markdownify }}
      {{else}}
        {{ $content = (printf "%s" $f) | readFile | replaceRE "^---[\\s\\S]+?---" "" | safeHTML }}
      {{end}}{{/* end of md / html switch */}}
    {{end -}}{{/* end of content unset */}}
    {{$content}}

  {{- else -}}
    {{/* else if file doesn't exist */}}
    {{ $err := printf "%s from field does not point to a valid file:%s" templates.Current.Name $f }}
    {{ partial "hw-tk/dbg" (dict "err" $err) }}
  {{- end -}}{{/* end of if file exists */}}
{{else}}
  {{ $err := printf "%s from field seems to be empty!" templates.Current.Name}}
  {{ partial "hw-tk/dbg" (dict "err" $err) }}
{{end}}