{{partial "tk/dbg-template" .}}{{/*
Include another page as an item in a list

from = filepath e.g. /assets/doc/banana.md
src = /path/to/image  ... if not specified, resource-image-featured is used
*/}}
{{- $from := .from -}}
{{- if fileExists $from -}}

{{/* --- trim front matter and spew out the rest of the included file --- */}}
{{ $summary := "" }}
{{/* check the page for a Params.IncludeSummary substitution */}}
{{ $p := site.GetPage $from }}{{ if $p.Page.Params.IncludeSummary }}
{{ $summary = $p.Page.Params.IncludeSummary | markdownify }}
{{end -}}{{/* end of GetPage */}}

{{ if not $summary }}{{/* -- make a summary if one is not provided ------------------------------------------------ */}}
  {{ if eq ".md" (path.Ext $from) }}{{/* == make a plain text string of the words in the file ===================== */}}
    {{ $summary = (printf "%s" $from) | readFile | replaceRE "^---[\\s\\S]+?---" "" | markdownify }}
  {{else}}
    {{ $summary = (printf "%s" $from) | readFile | replaceRE "^---[\\s\\S]+?---" "" | safeHTML }}
  {{end}}{{/* end of md / html summary maker ====================================================================== */}}
{{end -}}{{/* -- end of no summary -------------------------------------------------------------------------------- */}}
{{ $link := $p.RelPermalink }}
{{ $header := $p.Page.LinkTitle }}
{{- $img := partial "tk/resource-image-featured" (dict "page" $p.Page) -}}
{{- if $p.Page.Params.src -}}
  {{- $img = partial "tk/get-asset" (dict "asset" $p.Page.Params.src "page" $p.Page) -}}
{{- end -}}
{{- if $p.Page.Params.img -}}
  {{- $img = partial "tk/get-asset" (dict "asset" $p.Page.Params.img "page" $p.Page) -}}
{{- end -}}
{{- if .src -}}
  {{- $img = partial "tk/get-asset" (dict "asset" .src "page" $p.Page) -}}
{{- end -}}
  {{ $description := $p.Page.Plain | safeHTML | truncate 300 }}
  {{with .text}}{{$description = .}}{{end}}
  {{ $minutes := add ( div ( countwords $p.Page.Plain ) 220 ) 1 }}
  {{ $meta := printf "~%v min read" $minutes }}
  {{ $d := dict "description" $description
  "header" $header
  "img" $img
  "srcOn" "left"
  "meta" $meta
  "date" $p.Page.Date
  "link" $link
  "srcLink" $link
  "headerLink" $link}}
  {{ partial "tool/item" $d}}
{{- else -}}

{{- partial "tk/dbg" (dict
  "err" (printf "cannot include unknown project file: %s" $from)
  "kv" (dict "template" templates.Current.Parent.Name))
-}}
{{- end -}}{{/* end of if file exists */}}