{{partial "hw-tk/dbg-template" .}}{{/*
Display stylized pihuw text:
- {{%pihuw%}} ------------------------------- pihuw
- {{% pi t = "pihuw" %}} -------------------- pihuw
- {{% pi t = "pihuw" args = "-v" %}} -------- pihuw v1.x.y
- {{% pi t = "pihuw" "-qv" %}} ----------- v1.x.y
- {{% pihuw "-qv" %}} -------------------------- v1.x.y
*/}}
{{$showText := true}}
{{$showVersion := false}}
{{- with .args}}
{{if strings.Contains . "q"}}{{$showText = false}}{{end}}
{{if strings.Contains . "v"}}{{$showVersion = true}}{{end}}
{{ end -}}
<a href="https://github.com/mrmxf/pihuw" target="_blank">
  {{- if $showText}}<span style="color:red;">P</span><span style="color:grey;">i</span><span style="color:green;">H</span><span style="color:grey;">u</span><span style="color:blue;">W</span>{{end}}
  {{if $showVersion}}
  {{$versionData := (partial "tmpl/get-version-data")}}
  {{$v := $versionData.version}}
  {{$bits := split $v "."}}
  {{$maj := index $bits 0 | default ""}}
  {{$min := index $bits 1 | default ""}}
  {{$pat := index $bits 2 | default ""}}
  v<span class="logo-fo">{{$maj}}</span>.<span class="logo-hu">{{$min}}</span>.<span class="logo-w">{{$pat}}</span>
  {{end -}}
</a>