{{partial "tmpl/dbg-template-comment" .}}
{{ $color := "purple"}}
{{- $p := "f/image" -}}
{{- if not .src -}}{{- partial "tool/dbg-err" (dict "p" $p "a" ".src" "m" "is nil" ) -}}{{- end -}}
{{- if not .alt -}}{{- partial "tool/dbg-err" (dict "p" $p "a" ".alt" "m" "is nil" ) -}}{{- end -}}
{{- if .link -}}<a href="{{.link}}">{{- end -}}
<video class="{{ .srcClass }}" autoplay loop>
  <source src="{{ .src }}" type="video/mp4"  {{with .alt }}alt="{{.}}"{{end}} />
  Your browser does not support the video tag.
</video>
{{- partial "tool/caption" . -}}
{{- if .link -}}</a>{{- end -}}