<!DOCTYPE html>
{{ `<!-- pihuw/layouts/_default/baseof.html -->` | safeHTML }}
<html itemscope itemtype="http://schema.org/WebPage" lang="{{site.Language.Lang}}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "tmpl/head.html" . }}
</head>
<body {{ with .Page.Params.ui.bodyClass }}class="{{ . }}"{{ end }}">
    <header>
      {{ partial "tmpl/navbar" . }}
    </header>

  <div class="flex six-800">

    <div class="none sixth-800">
      <div class="flex one three-1000">
        <div class="none third-1000"></div>
        <sidebar class="full two-third-1000">
          {{ partial "phw-sidebar.html" . }}
        </sidebar>
      </div>
    </div>

    <main class="full two-third-800">
      {{ block "main" . }}{{ end }}
    </main>
    <div class="none sixth-800"></div>
  </div>

  <footer>
      {{ partial "tmpl/footer" . }}
  </footer>
  {{ partial "tmpl/body-scripts" . }}
</body>
</html>
