<!DOCTYPE html>
{{ `<!-- pihuw/layouts/_default/baseof.html -->` | safeHTML }}
<html itemscope itemtype="http://schema.org/WebPage" lang="{{site.Language.Lang}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "tmpl/head.html" . }}
</head>
{{- $bodyClass := ""}}
{{- if isset .Page.Params.ui "bodyClass" }}{{ $bodyClass = printf "class=\"%s\"" .Page.Params.ui.bodyClass }}{{ end }}

<body {{$bodyClass | safeHTMLAttr}}>
  <header>
    {{ partial "tmpl/navbar" . }}
  </header>

  <!-- outer div is for gutter control-->
  <div class="flex one four-800 six-1100 pi-nav-pad">
    <div class="none sixth-1100"></div>

    <!-- inner div turns component on and off -->
    <div class="none third-800 sixth-1100 ">
      <sidebar class="full">
        {{ partial "tmpl/sidebar-section.html" . }}
      </sidebar>
    </div>

    <div class="full half-800">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>


    <!-- final outer div gutter -->
    <div class="none sixth-1100"></div>
  </div>
  <div class="flex one four-800 six-1100 pi-nav-pad">
    <div class="none sixth-1100"></div>
    <footer class="full">
      {{ partial "tmpl/footer" . }}
    </footer>
    <!-- final outer div gutter -->
    <div class="none sixth-1100"></div>
  </div>
  {{ partial "tmpl/body-scripts" . }}
</body>
</html>