{{/* LinkedIn embed shortcode - embeds a LinkedIn post
     Usage: {{< linkedin "post_id" >}}
     Where post_id is the numeric ID from the LinkedIn post URL
     Example: {{< linkedin "7368571725216751637" >}}
*/}}
{{ $postId := .Get 0 }}
{{ if $postId }}
  {{ $embedUrl := printf "https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:%s?collapsed=1" $postId }}
  
  <div class="linkedin-embed" style="margin: 0;">
    <iframe src="{{ $embedUrl }}" 
            width="100%" 
            height="800" 
            frameborder="0" 
            allowtransparency="true"
            allowfullscreen="" 
            title="Embedded LinkedIn post"
            style="max-width: 100%; border: 1px solid #dbdbdb; border-radius: 8px;">
    </iframe>
  </div>
{{ else }}
  <p style="color: red;">Error: LinkedIn shortcode requires a post ID parameter</p>
{{ end }}