<div class="flex four" style="font-size: 0.7em;text-align:center;">
    <div class="none fourth-800"></div>
    <div class="full half-800">
        <button class="pseudo">Copyright © {{ now.Year }}. All rights reserved.</button>
        <button class="pseudo"><a href="{{ " home" | relURL }}">Home</a></button>
        <button class="pseudo"><a href="{{ " about" | relURL }}">About</a></button>
        <button class="pseudo"><a href="{{ " contact" | relURL }}">Contact</a></button>
    </div>
    <div class="none fourth-800"></div>
</div>