{{ `<!-- pihuw/partials/pihuw-help.html -->` | safeHTML -}}{{/*
Use t="help" while drafting to remind you of the props and shortcodes
*/}}
  <a id="types"></a>
  <table class="secondary">
    <thead>
      <tr>
        <td colspan="3" class="secondary">
          <h1><code>pi</code> shortcode types</h1>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">
          Inner contains markdown and is after the rendered description
        </td>
      </tr>
    </tbody>
  </table>