<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{site.Language.Lang}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "tmpl/head.html" . }}
</head>
{{- $bodyClass := ""}}
{{- if isset .Page.Params.ui "bodyClass" }}{{ $bodyClass = printf "class=\"%s\"" .Page.Params.ui.bodyClass }}{{ end }}

<body >
  {{partial "hw-tk/dbg-template" .}}
  <header>
    {{partial "tmpl/navbar" .}}
    {{if not site.Params.ui.hide.breadcrumbs}}{{partial "tmpl/breadcrumb" .}}{{end}}
  </header>
  <!-- outer div is for gutter control-->
  <div class="flex one six-{{site.Params.resp.m}} six-{{site.Params.resp.w}} pi-nav-pad">

    <!-- 1st outer div == gutter -->
    <div class="none sixth-{{site.Params.resp.w}}"></div>

    <!-- 2nd outer div == main -->
    <div class="full two-third-{{site.Params.resp.w}} "  style="align-content: stretch;">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    <!-- final outer div == gutter -->
    <div class="none sixth-{{site.Params.resp.w}}"></div>
  </div>

  <!-- footer is 3 columns + gutters -->
  <footer class="flex six">
    <div class="none sixth-{{site.Params.resp.w}}"></div>
    <div class="full two-third-{{site.Params.resp.w}} footer">
      {{ partial "tmpl/footer" . }}
    </div>
  </footer>
  {{ partial "tmpl/body-scripts" . }}
</body>

</html>