<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{site.Language.Lang}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "tmpl/head.html" . }}
</head>
{{- $bodyClass := ""}}
{{- if isset .Page.Params.ui "bodyClass" }}{{ $bodyClass = printf "class=\"%s\"" .Page.Params.ui.bodyClass }}{{ end }}

<body >
  {{partial "tmpl/dbg-template-comment" .}}
  <header>
    {{ partial "tmpl/navbar" . }}
  </header>
  <!-- outer div is for gutter control-->
  <div class="flex one six-{{site.Params.resp.m}} six-{{site.Params.resp.w}} pi-nav-pad">
    <div class="none sixth-{{site.Params.resp.w}}"></div>

    <!-- inner div turns component on and off -->
    {{- $showSidebar := true}}
    {{- if .Page.Params.ui.hide.sidebar}}{{$showSidebar = false}}{{- end -}}
    {{- if site.Params.ui.hide.sidebar}}{{$showSidebar = false}}{{- end -}}
    {{- if $showSidebar }}
    <div class="none third-{{site.Params.resp.m}} sixth-{{site.Params.resp.w}} " style="align-content: stretch;">
      <sidebar class="four-fifth">
        {{ partial "tmpl/sidebar.html" . }}
      </sidebar>
    </div>
    {{- end -}}{{/* --- end of if show sidebar ------------------------------------------------------------------------ */}}

    {{- if $showSidebar }}
    <div class="fullhalf-{{site.Params.resp.w}}"  style="align-content: stretch;">
      {{- else -}}
    <div class="full two-third-{{site.Params.resp.w}} "  style="align-content: stretch;">
      {{- end -}}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    <!-- final outer div gutter -->
    <div class="none sixth-{{site.Params.resp.w}}"></div>
  </div>

  <!-- footer is 3 columns + gutters -->
  <footer class="flex six">
    <div class="none sixth-{{site.Params.resp.w}}"></div>
    <div class="full two-third-{{site.Params.resp.w}} footer">
      {{ partial "tmpl/footer" . }}
    </div>
  </footer>
  {{ partial "tmpl/body-scripts" . }}
</body>

</html>