{{partial "tmpl/dbg-template-comment" .}}
{{/* The footer is already a row in the overall page grid ----------------- */}}
{{ $links := site.Params.ui.footer.links }}
{{ $color := site.Params.ui.footer.backgroundColor }}
{{ $textClass := "text-white" }}
{{partial "tmpl/footer-left" .}}
<div class="middle">
  {{range site.Params.ui.footer.links}}
  {{template "footer-pihuw-label" .}}
  {{end}}
</div>
{{partial "tmpl/footer-right" .}}

{{ define "footer-pihuw-label" -}}
{{$target := ""}}
{{$link := .link | default .url }}
{{if hasPrefix $link "http"}}{{$target = " target=\"_blank\""}}{{end}}
<div class="label">
  {{ with .label -}}{{.}}{{end}}
  {{ if .title -}}
  {{with $link}}<a href="{{.}}" {{$target|safeHTMLAttr}}>{{end}}
    {{.title}}
    {{with $link}}</a>{{end}}
  {{end}}
</div>
{{end}}