{{partial "tmpl/dbg-template-comment" .}}
{{- $menu2 := .Site.Params.ui.navbar2 -}}
{{- $customParam := "partial_w" -}}
{{- $page := . -}}
{{- $baseMenu := site.Menus.main.ByWeight -}}

{{/* ---- iterative over menu items --------------------------------- */}}
<div class="">
  {{ range $baseMenu -}}
    {{- if .HasChildren -}}
      {{- partial "tmpl/navbar-btn-parent" (dict "page" $page "menu" . "customParam" $customParam) }}
    {{- else}}
      {{- partial "tmpl/navbar-btn-basic" (dict "page" $page "menu" . "customParam" $customParam) }}
    {{ end -}}
  {{ end -}}
</div>

{{/* navChild takes
... page: .Page
... menu: .Site.Menus.main.ByWeight
... ..... and outputs a dropdown with children
*/}}
{{- define "navChild" -}}
{{ $page := .page}}
{{$pre := ""}}{{ if .menu.Pre}}{{$pre = .menu.Pre}}{{end}}
{{$post := ""}}{{ if .menu.Post}}{{$post = .menu.Post}}{{end}}
<div class="ui dropdown item">
  {{ .menu.Pre | safeHTML }}{{- .menu.Name | safeHTML -}}{{ $post | safeHTML }}
  <i class="dropdown icon"></i>
  <div class="ui menu">
    {{if .menu.URL}}{{ template "navBasic" (dict "page" $page "menu" .menu) }}{{end}}
    {{range .menu.Children}}
    {{ template "navBasic" (dict "page" $page "menu" .) }}
    {{end}}
  </div>
</div>

{{- end -}}
