{{partial "tmpl/dbg-template-comment" .}}{{/*
sidebar can be hidden with Params.ui.hide.sidebar
*/}}
<div class="pi-sidebar" id="section-nav">
  {{/* --- setup -------------------------------------------------------------------------------------------------- */}}
  {{ $navRootOriginal := cond (and (ne .Params.toc_root true) (eq site.Home.Type "docs")) site.Home .FirstSection -}}
  {{ $navRoot := . -}}
  {{ $depth := 0 -}}
  {{/* --- max depth=50 ------------------------------------------------------------------------------------------- */}}
  {{ $maxItems := 50}}
  {{if site.Params.ui.maxItems}}{{ $maxItems = site.Params.ui.maxItems}}{{end}}
  {{- template "sidebar-section"
  (dict "page" .
  "section" $navRoot
  "maxItems" $maxItems
  "depthNum" $depth)
  -}}
</div>



{{/* -------------------------------------------------------------------------------------------------------------- */}}
{{ define "sidebar-section" -}}
{{- $leafIcon := "<small><i class='fa-regular fa-file' style='color:var(--hi2);'></i></small> " -}}
{{- $nodeIcon := "<small><i class='fa-regular fa-folder' style='color:var(--hi1);'></i></small> " -}}
{{- $nodeOpenIcon := "<small><i class='fa-regular fa-folder-open' style='color:var(--hi3);'></i></small> " -}}
{{- $accordionStart := "<section class='accordion'>" -}}
  {{- $accordionEnd := "</section>" -}}
{{- $initialOpenLevel := 0 -}}{{/* zero based index of accordion level to be active */}}
{{/* -------------------------------------------------------------------------------------------------------------- */}}
{{ $s := .section -}}
{{ if $s.LinkTitle }}
{{ $p := .page -}}
{{$id := 0}}
{{ $maxItems := .maxItems -}}
{{ $treeRoot := cond (eq .depthNum 0) true false -}}
{{ $depth := .depthNum -}}
{{ $active := eq $s $p -}}
{{ $activePath := or (eq $p $s) ($p.IsDescendant $s) -}}
{{ $mid := printf "m-%s" ($s.RelPermalink | anchorize) -}}
{{ $pages_tmp := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true -}}
{{ $pages := $pages_tmp | first $maxItems -}}
{{ $withChild := gt (len $pages) 0 -}}
{{/* --------------------------------------------------------------------- */}}
{{- $iconHtml := $leafIcon -}}
{{- if $withChild -}}{{$iconHtml = $nodeIcon}}{{end}}
{{/* --------------------------------------------------------------------- */}}
{{- $link := $s.RelPermalink -}}
{{- if $s.Param "manuallink" -}}{{- $link = $s.Params.manualLink -}}{{- end -}}
{{- if $s.Param "manuallinkrelref" -}}{{- $link = $s.Params.manuallinkrelref -}}{{- end -}}
{{/* --------------------------------------------------------------------- */}}
{{- $title := $s.Title -}}
{{- if $s.Param "manuallinktitle" -}}{{- $title = $s.Params.manuallinktitle -}}{{- end -}}
{{/* --------------------------------------------------------------------- */}}
{{- $isActive := "active" -}}
{{- if gt $depth $initialOpenLevel -}}{{- $isActive = "" -}}{{- end -}}
{{/* --------------------------------------------------------------------- */}}
{{- $target := "" -}}
{{- if $s.Param "manualLinkTarget" -}}{{- $target = fmt.Print "target=\"%s\"" $s.Params.manuallinktitle -}}{{- end -}}

{{$accordionStart | safeHTML}}
<div class="{{$isActive}} tab">
  <input id="{{$depth}}-{{$id}}" type="checkbox" name="{{$depth}}-{{$id}}">
  <label for="{{$depth}}-{{$id}}" class="tab__label">
    {{$iconHtml | safeHTML}}
    <a href="{{ $link }}" title="{{ $title }}" {{$target}}="{{ . }}" id="{{ $mid }}">
      {{ $s.LinkTitle }}
    </a>
  </label>
  <div class="tab__content">
    {{- if $withChild }}
    <div class="list" style="padding-left: 0.2em;">
      {{- $depth := add $depth 1 }}
      {{ range $pages -}}
      {{ if (not (and (eq $s $p.Site.Home) (eq .Params.toc_root true))) -}}
      {{ template "sidebar-section"
      (dict "page" $p
      "section" .
      "maxItems" $maxItems
      "depthNum" $depth) }}
      {{- end }}{{/* if */}}
      {{- end }}{{/* end range $pages */}}
    </div>
    {{- end -}}{{/* end $withChild */}}
  </div>
</div>
{{$accordionEnd | safeHTML}}

{{- end -}}{{/* end with linktitle */}}
{{- end -}}{{/* end definition */}}