{{- /*
  tmpl/taxonomy-display-label
  Maps a display label to a taxonomy based on site.Params.Taxonomy.Label config.
  Styles defined in pihuw.css or custom CSS.

  .taxo — string — taxonomy name to match (required)

  returns (string) — label string e.g. "Category: ", or "" (falsy) if not configured

  DO NOT call partial "tk/dbg-template" - it prevents return from working.
*/ -}}
{{- $ret        := "" -}}
{{- $matchTaxo  := .taxo -}}
{{- if isset site.Params.Taxonomy "label" -}}
  {{- range $name, $userLabel := site.Params.Taxonomy.Label -}}
    {{- if eq $name $matchTaxo -}}
      {{- $ret = printf "%s: " $userLabel -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $ret -}}
