{{- /*
  tmpl/taxonomy-display-class
  Maps a CSS display class to a taxonomy based on its ordinal position
  in site.Taxonomies. Styles defined in pihuw.css or custom CSS.

  .taxo — string — taxonomy name to match (required)

  returns (string) — CSS class e.g. "fo-tax-1", or "fo-tax-default" if not found

  DO NOT call partial "tk/dbg-template" - it prevents return from working.
*/ -}}
{{- $ret        := "fo-tax-default" -}}
{{- $matchTaxo  := .taxo -}}
{{- $i          := 0 -}}
{{- range $name, $map := site.Taxonomies -}}
  {{- $i = math.Add $i 1 -}}
  {{- if eq $name $matchTaxo -}}
    {{- $ret = printf "fo-tax-%d" $i -}}
  {{- end -}}
{{- end -}}
{{- return $ret -}}
